<div class="container">
    <table class="table">
        <thead>
            <th>*</th>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Due_Date</th>
            <th>Operation</th>
        </thead>
        <tbody *ngIf="todos!='';else empty">
            <tr *ngFor="let item of todos">
                <td> <mat-checkbox (click)="changeStatus(item.id)" [(ngModel)]="item.isdone"  class="example-margin"></mat-checkbox></td>
                <td [class]="item.isdone ? 'text-decoration-line-through' : ''" >{{item.id}}</td>
                <td [class]="item.isdone ? 'text-decoration-line-through' : ''">{{item.name}}</td>
                <td [class]="item.isdone ? 'text-decoration-line-through' : ''">{{item.description}}</td>
                <td [class]="item.isdone ? 'text-decoration-line-through' : ''">{{item.due_Date | date: 'dd/MM/yyyy'}}</td>
                <td >
                    <button mat-button color="warn">
                        <mat-icon (click)="deleteTodo(item.id)" >delete</mat-icon>
                    </button>
                    <button mat-button color="primary" [routerLink]="['update/'+item.id]"   [disabled]="item.isdone">
                        <mat-icon  >edit</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
        <ng-template #empty>
            <tbody>
                <tr>
                    <td colspan="6" class="text-center">No Todo</td>
                </tr>
            </tbody>
        </ng-template>
        
       
       
    </table>
</div>